<form [formGroup]="tourForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

  <!-- ================= Reference Name ================= -->
  <div class="mb-3">
    <label>Reference Name</label>
    <input type="text"
           class="form-control"
           formControlName="referenceName">
  </div>

  <!-- ================= Destination Id ================= -->
  <div class="mb-3">
    <label>Destination</label>
    <select class="form-control" formControlName="destinationId">
      <option value="2">Hurghada</option>
    </select>
  </div>

  <!-- ================= Category Tour ================= -->
  <div class="mb-3">
    <label>Category</label>
    <select class="form-control" formControlName="categoryTourId">
      <option value="28">Sea Tours Hurghada</option>
      <option value="34">Thing To Do Hurghada</option>
      <option value="37">Diving</option>
      <option value="38">Cairo Tours Hurghada</option>
      <option value="39">Luxor Tours Hurghada</option>
      <option value="40">Safari Tours Hurghada</option>
    </select>
  </div>
  <hr>

  <!-- ================= Tour Images ================= -->
  <h5>Tour Images</h5>

  <div formArrayName="tourImages">

    <div *ngFor="let img of tourImages.controls; let i=index"
         [formGroupName]="i"
         class="border p-3 mb-3">

      <!-- Old Image -->
      <img *ngIf="img.value.imageUrl"
           [src]="img.value.imageUrl"
           width="150"
           class="mb-2 d-block">

      <!-- Upload -->
      <input type="file"
             class="form-control mb-2"
             (change)="onImageChange($event, i)">

      <!-- Image Translations -->
      <div formArrayName="translations">

        <ng-container *ngFor="let t of getImageTranslations(img).controls; let j=index">
          <div *ngIf="t.value.language === activeLang"
               [formGroupName]="j">

            <input formControlName="altText"
                   placeholder="Alt Text"
                   class="form-control mb-2">

          </div>
        </ng-container>

      </div>

      <button type="button"
              class="btn btn-danger"
              (click)="removeImage(i)">
        Remove Image
      </button>

    </div>

    <button type="button"
            class="btn btn-primary"
            (click)="addImage()">
      Add Image
    </button>

  </div>

  <hr>
  <!-- ================= Language Tabs ================= -->
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item" *ngFor="let lang of languages">
      <button type="button"
              class="nav-link"
              [class.active]="activeLang === lang"
              (click)="activeLang = lang">
        {{ lang.toUpperCase() }}
      </button>
    </li>
  </ul>

  <!-- ================= Translations ================= -->
  <div formArrayName="translations">
    <ng-container *ngFor="let tr of translations.controls; let i=index">
      <div *ngIf="tr.value.language === activeLang"
           [formGroupName]="i">

        <div class="mb-2">
          <label>Title</label>
          <input formControlName="title" class="form-control">
        </div>

        <div class="mb-2">
          <label>Description</label>
          <textarea formControlName="description"
                    class="form-control"></textarea>
        </div>

        <div class="mb-2">
          <label>Meta Description</label>
          <textarea formControlName="metaDescription"
                    class="form-control"></textarea>
        </div>

        <div class="mb-2">
          <label>Meta Keywords</label>
          <input formControlName="metaKeyWords"
                 class="form-control">
        </div>

      </div>
    </ng-container>
  </div>

  <hr>

  <!-- ================= Includes ================= -->
  <h5>Includes</h5>
  <div formArrayName="includesList">

    <ng-container *ngFor="let inc of includesList.controls; let i=index">
      <div *ngIf="inc.value.language === activeLang"
           [formGroupName]="i"
           class="d-flex mb-2">

        <input formControlName="text"
               class="form-control me-2">

        <button type="button"
                class="btn btn-danger"
                (click)="removeInclude(i)">
          X
        </button>
      </div>
    </ng-container>

    <button type="button"
            class="btn btn-primary"
            (click)="addInclude(activeLang)">
      Add Include
    </button>
  </div>

  <hr>

  <!-- ================= Not Included ================= -->
  <h5>Not Included</h5>
  <div formArrayName="notIncludedList">

    <ng-container *ngFor="let ni of notIncludedList.controls; let i=index">
      <div *ngIf="ni.value.language === activeLang"
           [formGroupName]="i"
           class="d-flex mb-2">

        <input formControlName="text"
               class="form-control me-2">

        <button type="button"
                class="btn btn-danger"
                (click)="removeNotInclude(i)">
          X
        </button>
      </div>
    </ng-container>

    <button type="button"
            class="btn btn-primary"
            (click)="addNotInclude(activeLang)">
      Add Not Included
    </button>
  </div>

  <hr>

  <!-- ================= Highlights ================= -->
  <h5>Highlights</h5>
  <div formArrayName="highlightList">

    <ng-container *ngFor="let h of highlightList.controls; let i=index">
      <div *ngIf="h.value.language === activeLang"
           [formGroupName]="i"
           class="d-flex mb-2">

        <input formControlName="text"
               class="form-control me-2">

        <button type="button"
                class="btn btn-danger"
                (click)="removeHighlight(i)">
          X
        </button>
      </div>
    </ng-container>

    <button type="button"
            class="btn btn-primary"
            (click)="addHighlight(activeLang)">
      Add Highlight
    </button>
  </div>

 

  <!-- ================= Submit ================= -->
  <button type="submit"
          class="btn btn-success">
    Save Tour
  </button>

</form>
