<section class="dashboard-section container">
    <h2 class="section-title">All Destnations</h2>

    <!-- Add Button -->
    <div class="add-tour-wrapper">
      <button class="btn add-tour-btn" [routerLink]="['/admin/destnationCreate']">
        <i class="fa-solid fa-plus"></i>
        Add New Destnation
      </button>
    </div>
    <!-- <div class="search-wrapper">
        <input 
          type="text" 
          placeholder="Search destnation..."
          />
        <i class="fa-solid fa-magnifying-glass search-icon"></i>
      </div> -->
    <!-- Category List -->
    <div class="tour-list">
  
      <!-- Table Header -->
      <div class="tour-row header">
        <div class="tour-col id">ID</div>
        <div class="tour-col title">Name</div>
        <div class="tour-col status">Status</div>
        <div class="tour-col actions">Actions</div>
      </div>
  
      @for (destnaion of allDestionList(); track destnaion.id) {
      <div class="tour-row">
  
        <!-- ID -->
        <div class="tour-col id">
          <span># {{ destnaion.id }}</span>
        </div>
  
        <!-- Title -->
        <div class="tour-col title">
          <h3>{{ destnaion.title }}</h3>
        </div>
  
        <!-- Status -->
        <div class="tour-col status">
          <span class="tour-status" [class.active]="destnaion.isActive" [class.inactive]="!destnaion.isActive">
            {{ destnaion.isActive ? 'Active' : 'Inactive' }}
          </span>
        </div>
  
        <!-- Actions -->
        <div class="tour-col actions">
          <button class="btn edit-btn" title="Edit" [routerLink]="['/admin/destnationUpdate',destnaion.id]">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button class="btn delete-btn" title="Delete"  (click)="deleteDestination(destnaion.id)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
  
      </div>
      }
    </div>
  
  </section>
  