<section class="dashboard-section container">
  <h2 class="section-title">All Categories</h2>
  
  <!-- Add Button -->
  <div class="add-tour-wrapper">
    <button class="btn add-tour-btn" [routerLink]="['/admin/catTourCreate']"
    >
      <i class="fa-solid fa-plus"></i>
      Add New Category
    </button>
  </div>
  <div class="search-wrapper">
    <input 
      type="text" 
      placeholder="Search Category.."
      [(ngModel)]="searchTerm"
      />
    <i class="fa-solid fa-magnifying-glass search-icon"></i>
  </div>
  <!-- Category List -->
  <div class="tour-list">

    <!-- Table Header -->
    <div class="tour-row header">
      <div class="tour-col id">ID</div>
      <div class="tour-col title">Name</div>
      <div class="tour-col status">Status</div>
      <div class="tour-col actions">Actions</div>
    </div>

    @for (tour of AllCAtegortTourList()|search:searchTerm; track tour.id) {
    <div class="tour-row">

      <!-- ID -->
      <div class="tour-col id">
        <span>#{{ tour.id }}</span>
      </div>

      <!-- Title -->
      <div class="tour-col title">
        <h3>{{ tour.referenceName }}</h3>
      </div>

      <!-- Status -->
      <div class="tour-col status">
        <span class="tour-status" [class.active]="tour.isActive" [class.inactive]="!tour.isActive">
          {{ tour.isActive ? 'Active' : 'Inactive' }}
        </span>
      </div>

      <!-- Actions -->
      <div class="tour-col actions">
        <button class="btn edit-btn" title="Edit" [routerLink]="['/admin/catTourUpdate',tour.id]">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button class="btn delete-btn" title="Delete" (click)="deleteCatTour(tour.id)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>

    </div>
    }
  </div>

</section>
